---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}' data-path='{{ post.path }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
      {% if post.type %}<p>For error responses, see the <a href="#/response-status-codes">response status codes documentation</a>.</p>{% endif %}
      {% if post.type == 'GET' %}
      	<h3>Try in browser</h3>
      	<a data-params="{{ post.params }}" href="#"></a>
      {% endif %}
      	<h3>Try in terminal</h3>
      	<code data-params="{{ post.params }}"></code>
    </section>
  </article>
{% endfor %}
</section>